@{
    ViewBag.Title = "Forgot Code!";
}


<body>
    <h2>Forgot your code?</h2>

    <p>
        No problem! Enter your phone number and we'll resent it to you.
    </p>


    @Html.Hidden("RedirectTo", Url.Action("Index", "Home"))

    <p>Phone number: @Html.TextBox("PhoneTextBox") </p>

    <button id="SubmitButton" type="button">Submit</button>


    <script src="~/scripts/jquery-2.1.4.min.js" type="text/javascript"></script>

    <script>

        $(document).ready(function () {
            $('#SubmitButton').click(function () {

                var phone = $('#PhoneTextBox').val();

                var server = "http://teambitewolf.azurewebsites.net";
                //server = "http://localhost:49669";
                var myUrl = server + "/api/TripUsers/ResendCode/" + phone;

                $.ajax({
                    dataType: 'json',
                    url: myUrl,
                    type: 'GET',
                    success: function (data) {


                    },

                    error: function (x, y, z) {
                    },

                    complete: function () {
                        window.location.href = "/Home";

                    }
                });



            });
        });

    </script>

</body>