
@{
    ViewBag.Title = "Welcome to Tripsie!";
}

<html>
    <body>
        <h2>Welcome to Tripsie!</h2>

        <p>
            <h4>
               Use Tripsie to create your next big meetup! Invite your friends using email or phone. Once a trip is created, you can collaborate with your friends, vote on trip activities, upload pictures and more. Let's Tripsie!
            </h4>
        </p>


        <p>
            <a href="Home/CreateTrip" class="btn btn-primary" role="button" style="min-width:300px">Create Trip</a>
        </p>

        <p>
            <a href="Home/EnterCode" class="btn btn-primary" role="button" style="min-width:300px"> Enter Code</a>
        </p>

        <p>
            <a href="Home/ForgotCode" class="btn btn-primary" role="button" style="min-width:300px">Forgot your code?</a>
        </p>

    </body>
</html>


